.whole-page {
    background-color: rgb(249, 249, 249);
}

.container-page {

    margin-left: 10%;
    display: flex;
    width: 75%;

}

.left-main {
    margin-top: 2.8%;
    width: 65%;
}

.storiesbox {
    width: 85%;
    border: 1px solid rgb(249, 249, 249);
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

}

.postsbox {
    margin-top: 20px;
    width: 85%;
    border: 1px solid rgb(249, 249, 249);
    height: 500px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

}
