.whole-page {
    background-color: rgb(249, 249, 249);
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: center;
}

.container-page {


    display: flex;
    width: 75%;

}

.left-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.8%;
    width: 75%;
}

.right-main {
    margin-top: 2.8%;
}

.mainpage-suggestions {
    margin-left: 5%;

}

.storiesbox {
    display: flex;
    height: 110px;
    width: 450px;
    border: 1px solid rgb(249, 249, 249);
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    margin: auto;

}

.storiesBar-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.storiesBar-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background: linear-gradient(to left top, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0)),
        linear-gradient(to bottom right, rgba(184, 199, 15, 0.97), rgba(255, 34, 0, 0));

}

.storiesBar-profile-pic {
    width: 92%;
    height: 92%;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
}

.storiesBar-username {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif
}



.postsbox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 450px;
    border: 1px solid rgb(249, 249, 249);
    height: 600px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

}

.mainpage-right-user-container {
    height: 100px;
    width: 300px;

    display: flex;
    align-items: center;
}

.mainpage-right-img-container {

    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.mainpage-right-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.mainpage-right-username-name-container {
    margin-left: 14px;
    width: 160px;
    font-size: 12px;
}

.mainpage-right-username {
    font-weight: bold;
    font-size: 16px;
}

.mainpage-right-name {
    font-size: 12px;
    color: rgb(167, 157, 157);
}

.mainpage-groupMembers {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}


.mainpage-group-img-container {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 50%;
}

.mainpage-follow-button-container {
    margin-left: 3rem;
}

.mainpage-suggestions-username {
    font-weight: bold;
    font-size: 13px;
}

.mainpage-suggestions-name {
    font-size: 12px;
    color: rgb(167, 157, 157);
}

.github-link {
    text-decoration: none;
    color: rgb(88, 116, 241);
    font-size: 14px;
}
