.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(158, 153, 153);
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    height: 80px
}

.InstaLogo {
    display: flex;
    margin-left: 5%;
    font-family: Brush Script MT, cursive;
    font-size: 22px;
    font-weight: 700;
    justify-content: center;
    align-items: center;

}

.Sweetiegram-logo {
    color: black;
    /* font-family: cursive; */

}


.navbar-searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    /* border: 1px solid black; */
    height: 80px;
    /* background-color: rgb(243, 232, 232); */
}


.navbar-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 95%;
    height: 30px;
    background-color: rgb(249, 249, 249);

}






.navLinks {
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
    width: 26%;
    align-items: center;
}


.nav-profile-bttn {
    font-size: 25px;
    background-color: transparent;
    border: none;
}

.dropdown-menu {
    border: 1px solid rgba(55, 43, 43, 0.3);
    position: absolute;
    margin-top: 1.4em;
    width: 12em;
    right: 4em;
    z-index: 1;
    background-color: white;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.dropdown-profile-bttn {
    display: flex;
    font-size: 16px;
    margin-left: 12px;
}

.dropdown-divider {
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.dropdown-logout-bttn {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;

}

.dropdown-logout-bttn:hover {
    cursor: pointer;
}

.create-post-button {
    font-size: 26px;
}

.create-post-button:hover {
    cursor: pointer;
}

/* here */
.see-all-posts-button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px #DBDBDB solid;
    color: gray
}

.link-to-all-posts-container {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}
