.page-not-found-container{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.page-not-found-top-row-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    /* background-color: green; */

}
