#create-new-comment-form{
    width: 100%;
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: auto 80px;
    /* align-items: center; */
}

#content-area-input {
    display: flex;
    width: 100%;
    max-height: 60px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    overflow: auto;
}


#post-details-comments-form-section{
    display: flex;
    align-items: center;
    justify-content: space-between;

}




#comment-submit-button {
background-color: transparent;
border: none;
color: blue;
font-weight: bold;
cursor: pointer;
}

/* #comment-submit-button:hover{
    background-color: rgb(240, 240, 240)
} */


/* #create-new-comment-form-container{

} */
