.create-post-title{
    /* background-color: lightcoral; */
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8%;
    border-bottom:#DBDBDB solid 1px;
}


.create-post-back-button{
    height:8%;
    position:absolute;
    left:0px;
    top:0px;
}

.create-post-next-button{
    height:8%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.create-form-post-url-main-container{
    width:100%;
    height: 100%;
    /* border-radius: 20px; */
    background-color: rgb(237, 171, 181);
}

.create-post-submit-button{
    position:absolute;
    top:0px;
    right:0px;
    height:8%;
}

.create-post-form-profile-box{
    background-color: bisque;
    display: flex;
    width: 100%;

}
.create-post-form-username-text{
    display: flex;
    align-items: center;
    margin-left: 12px;

}

.create-post-form-profile-image-container{
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    height: fit-content;
}

.create-post-form-profile-pic{
    height: 38px;
    width: 38px;
    border-radius: 50%;
}


.create-post-form-outer-container{
    height: 100%;
    /* background-color: coral; */
    width:100%;
    display:flex;
    align-items: end;
    border-radius: 30px;
    /* justify-content: end; */
}

.create-post-form{
    background-color: lightblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: end;
}

.create-post-image-left-container{
    width: 60%;
    height: 100%;
}

.create-form-post-preview-image{
    height:93%;
    width: 100%;
    max-height:94%;
    min-height: 94%;
}

.create-post-input-field{
    height: 38px;
    width:100%;
    box-sizing: border-box;
    border: 1px #DBDBDB solid;
}

.create-post-left-pic{
    width:100%;
    height: 100%;
}

.form-step-1-main-content-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width:100%;
    justify-content: center;
}

.create-post-outer-form-container{
    width:100%;
    height: 100%;
}

.validation-errors{
    color:red;

}
