#comments-single-comment-image, #comments-caption-profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#comments-single-comment-images, #comments-caption-profile-pic-image {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

#comments-single-comment-delete-button {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px;
  margin-left: 30px;
}

#comments-single-comment-image-username-createdAt-container {
  display: grid;
  grid-template-columns: 50px auto;
  margin-bottom: 20px;
}

#comments-single-comment-image-username-createdAt-wrapper {
  display: flex;
  align-items: center;
}

#comments-caption-username{
  padding-top: 20px;
  font-weight: bold;
}

#comments-caption-caption-text{
  padding-bottom: 20px;
}


#comments-single-comment-username{
  /* padding-top: 11px;
  padding-left: 6px; */
  font-weight: bold;
}

#comments-single-comment-content{
  padding-top: 10px;
  padding-bottom: 10px;
}

#comments-single-comment-createdAt{
  padding-bottom: 10px;
}

#profileimg-username-container{
  display: flex;
  flex-direction: row;
}


/* #comments-caption-username {

} */
