#edit-comment-form{
    display: flex;
    flex-direction: row;
}

#edit-comment-input-textarea {
  min-width: 80%;
  min-height: 30px;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 4px;
  padding: 5px;
  box-sizing: border-box;
  border: lightgray solid 1px;
  background-color: rgb(246, 246, 246);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-y: contain;
  overflow-y: auto;
}

#edit-comment-submit-button {
background-color: transparent;
border: none;
color: blue;
font-weight: bold;
cursor: pointer;
padding-left: 10px;
}
