#modal-content.post-form-modal-content{
    /* background-color: green; */
    height: 620px;
    width: 920px;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    /* box-sizing: border-box; */
    /* align-items: flex-end; */
    /* border: 30px red solid;
    border-radius: 50%; */

}
